* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
  }

.shipping{
    margin-top: 1rem;
    width: 100vw;
    height: 40px;
    display: flex;
    flex-flow: row;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    background-color:rgb(63, 69, 54);
    animation: fadein 1.5s linear;
    -moz-animation: fadein 1.5s linear;
    -webkit-animation: fadein 1.5s linear;
    -o-animation: fadein 1.5s linear;
    -webkit-animation: fadein 1.5s linear;
}

.shipping a {
    text-decoration: none;
    color:rgb(255, 251, 252);
}


/* header */

.header {
   background-color:rgb(255, 251, 252);
   font-family: 'Playfair Display', serif;
   display: flex;
   position: fixed;
   flex-flow: row;
   font-size: 10px;
   align-items: center;
   justify-content: center;
   width: 100vw;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   padding-top: 2em;
   padding-bottom: 2em;
   color: rgb(63, 69, 54);
   height: 5rem;
   z-index:100;
   animation: fadein 0.5s linear;
   -webkit-animation: fadein 0.5s linear;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.5s;
   -webkit-transition: border-bottom 0.5s;
   -moz-transition: border-bottom 0.5s;
   -ms-transition: border-bottom 0.5s;
   -o-transition: border-bottom 0.5s;
   -webkit-transition-property:color;
   -webkit-transition-duration: 0.2s, 0.2s;
   -webkit-transition-timing-function: linear, ease-in;
   -webkit-transition-property: background-color;
   -webkit-transition-duration: 0.5s, 0.5s;
   -webkit-transition-timing-function: linear, ease-in;
}

.active {
    border-bottom: 1px solid rgb(255, 251, 252);
    animation: all fadein 0.5s linear;
    -webkit-animation: all fadein 0.5s linear;
}

.introDiv {
    padding: 0 0 2rem 4rem;
    height: 550px;
    width: 100vw;
    color: rgb(63, 69, 54);
    background-color:	rgb(248, 151, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadein 0.5s linear;
    -moz-animation: fadein 0.5s linear;
    -webkit-animation: fadein 0.5s linear;
    -o-animation: fadein 0.5s linear;
    -webkit-animation: fadein 0.5s linear;
    overflow: hidden;
}

.introDiv div:nth-child(1){
    width: 30vw;
    margin: 5rem 0;
    height: 80%;
    align-self: flex-start;
    font-size: 24px;
    width: 5%;
}

.introDiv-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    margin: 3rem 1rem 0 4rem;
    height: 80%;
}


.introDiv-links p:nth-child(3) {
    padding-bottom: 1.5rem;
    font-size: 18px;
}

.introDiv-links a:nth-child(4) {
    margin-top: 3rem;
    text-align: left;
    border: 1px solid rgba(63, 69, 54, 0.171);
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    font-size: 14px;
    text-decoration: none;
    color: rgb(63, 69, 54);
}

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.5em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }

  .hvr-icon-forward:hover {
    background-color: rgb(255, 165, 113);
   
  }
  
  .hvr-icon-forward:before {
    content: "\2192";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

.introDiv-links a:nth-child(4):hover {
    
}

.introDiv-links h1 {
    padding: 0 1rem 1.5rem 0;
    font-size: 36px;
}

.introDiv-links p:nth-child(1) {
    padding-bottom: 1.5rem;
    font-size: 16px;
}


.introDiv-rechts{
    background-image: url(isabella-rich-7pSe48Zwmho-unsplash.jpg);
    background-position: bottom 50% right 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30vw;
    margin: 3rem 12rem 0 0;
    height: 80%;
}

.introDiv img {
    position: absolute;
    top: 300px;
    right: 100px;
    height: 400px;
    z-index: 1;
}


.header-left {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    left: 0px;
    margin: 2px 1px;
    padding: 0px 2em;
    margin-right: auto; 
    align-items: center;
    justify-content: center;
}



.header-left p {
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    padding: 0 1.5em;
    -webkit-transition-property:color; 
    -webkit-transition-duration: 1s, 1s; 
    -webkit-transition-timing-function: linear, ease-in; 
}

.header-left a {
    text-decoration: none;
    color: rgb(63, 69, 54);
    -webkit-transition-property:color; 
    -webkit-transition-duration: 1s, 1s; 
    -webkit-transition-timing-function: linear, ease-in;
}

.header-left p:hover {
    cursor: pointer;
    color: red;
}

.title {
    position: absolute;
    text-decoration: none;
    font-weight: 550 !important;
    font-size: 18px;
    color: rgb(63, 69, 54);
    letter-spacing: 8.5px;
    font-family: 'EB Garamond', serif;
}

.title a {
    text-decoration: none;
    color: rgb(63, 69, 54);
    -webkit-transition-property:color; 
    -webkit-transition-duration: 1s, 1s; 
    -webkit-transition-timing-function: linear, ease-in;
}
/*.active {
    backdrop-filter:blur(100px);
    -webkit-backdrop-filter:blur(100px);
} */

.header-right {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    right: 2vw;
    margin: 2px 1px;
    padding: 5px;
    margin-left: auto; 
}


.header-right p {
    padding-left: 3.3em; 
    -webkit-transition-property:color; 
    -webkit-transition-duration: 1s, 1s; 
    -webkit-transition-timing-function: linear, ease-in;  
}

.header-right a {
    padding-left: 3.3em;   
    text-decoration: none;
    color: rgb(63, 69, 54);
}

/* slide in Menu */

.slide {
    opacity: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 35px;
    overflow: hidden;
    background-color:rgb(63, 69, 54) ;
    border-bottom: 1px solid rgb(255, 251, 252);
    z-index: 1;
    padding: 1.8rem 5rem;
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    overflow: hidden;
    transition: top 0.5s ease-in-out;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    -o-transition: top .5s ease-in-out;
    -ms-transition: top .5s ease-in-out;
    top: 0;
}

  .slided {
    top: 4rem;
    opacity: 1;
  }

.slide a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 251, 252);
}

.slide p {
    color: rgb(255, 251, 252);
}
.close {
    width: 32px;
    height: 32px;
    opacity: 0.7;
    color: rgb(255, 251, 252);
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    color:  rgb(63, 69, 54);
    position: absolute;
    right: 28px;
    top: 40px;
    content: ' ';
    height: 14px;
    width: 2px;
    background-color: rgb(255, 251, 252);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



/* all page */

.filter-div {
    height: 200px;
    width: 100%;
    border-left: 1px solid rgb(255, 251, 252);
    border-right: 1px solid rgb(255, 251, 252);
    border-bottom: 1px solid rgb(255, 251, 252);
    background-color: rgb(63, 69, 54); 
    color: rgb(255, 251, 252);
}

#h1 {
    padding: 4rem 1.5rem 2rem 1.5rem;
    font-size: 30px;
    text-align: left;
}

button, h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.menu {
    text-decoration: none;
    width: 100%;
    font-family: inherit;
}
    
.photo {
    height: 200px;
}

.section-center {   
    font-family: 'Playfair Display', serif;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 450px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.438);
}

.item-info {
    margin: 1rem 0;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.438);
    width: 70%;
    text-align: center;
}

.btn {
    width: 100%;
    background-color: rgb(63, 69, 54);
    color: rgb(255, 251, 252);
    padding: 0.5rem 3rem;
    border: 1px solid rgb(63, 69, 54);
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.875rem;
    cursor: pointer;
    text-align: center;
}
  .btn:hover {
    color: rgb(63, 69, 54);
    background: rgb(248, 151, 95);
  }

  .btn-container {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .filter-btn {
    background: transparent;
    border-color: rgb(63, 69, 54);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    color: rgb(63, 69, 54);
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
  .filter-btn:hover {
    background: rgb(63, 69, 54);
    color: white;
  }



/* main page */

.intro-content {
    font-family: 'Playfair Display', serif;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1.5s all ease-in-out;
    -webkit-transition: 1.5s all ease-in-out;
    -moz-transition: 1.5s all ease-in-out;
    -ms-transition: 1.5s all ease-in-out;
    -o-transition: 1.5s all ease-in-out;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}

.first-image {
    background-image: url(joanna-kosinska-MnKWt1W1GDg-unsplash.jpg);
}

.second-image {
    background-image: url(annie-spratt-wSGD3Krremo-unsplash.jpg);
}

.third-image {
    background-image: url(diana-akhmetianova-pBBxMUCgwuU-unsplash.jpg);
}

.intro-image {
    width: 60vw;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 60%;
    padding: 0 5rem 0 5rem;
}

.intro-text p:nth-child(1) {
    font-weight: bold;
    padding-bottom: 1rem;
}

.intro-text p:nth-child(3) {
    padding: 2rem 1rem 2rem 0;
    font-size: 16px;
    text-align: left;

}

.intro-text h2 {
  font-weight: 400;
  font-size: 36px;
}

.intro-text a {
    text-align: center;
    width: 50%;
    text-decoration: none;
    color: inherit;
    padding: 1rem 1.5rem 1rem 1rem;
    border: 1px solid rgba(0, 41, 0, 0.26);
}

.intro-appear {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}


/* Cart JS */

.clicked {
    animation: shake 0.81s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-animation: shake 0.81s cubic-bezier(.36,.07,.19,.97) both;
}

#cart:hover {
    animation: shake 0.81s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-animation: shake 0.81s cubic-bezier(.36,.07,.19,.97) both;
}
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  body#about{background-color:#000;}

/* main */

main {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding-top:4rem;
    z-index: 5;
    overflow: hidden;
    background-color:rgb(255, 251, 252);
}

.bar-container {
    position: fixed;
    width: 100vw;
    height: 2.8px;
    background-color:rgb(255, 252, 253);
    border-bottom: 1px solid rgb(63, 69, 54);
}

.bar {
    background-color:rgb(63, 69, 54);
    height: 100%;
    width: 0%;
    
}

/* productOne */

.productOne {
    display: grid;
    grid-template-columns: 4fr 2.8fr 1.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "columnOne columnTwo columnThree";
    width: 100vw;
    height: 600px;
    background-color:rgb(255, 251, 252);
    border-bottom: 1px solid rgb(63, 69, 54);
    animation: fadein 1s linear;
    -moz-animation: fadein 1s linear;
    /*Firefox*/-webkit-animation: fadein 1s linear;
    /*SafariandChrome*/-o-animation: fadein 1s linear;
    -webkit-animation: fadein 1s linear;
}
@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.productOne-columnOne {
    grid-area: columnOne;
    font-weight: bold;
    border-right: 1px solid rgb(63, 69, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.productOne-columnTwo {
    grid-area: columnTwo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem 1rem;
    border-right: 1px solid rgb(63, 69, 54);
    color: rgb(63, 69, 54);
}

.productOne-columnThree {
    grid-area: columnThree;
    display: flex;
    padding: 2.5rem 1.1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-right: 1px solid rgb(63, 69, 54);
    color: rgb(63, 69, 54);
    font-size: 9px;
    font-weight: 500;
    line-height: 1.5em;
}

.image {
    height: 350px;
    width: 240px;
    background-image: url(one.jpg);
    background-size: cover;
    background-position: 50%;   
}


.titel {
    padding-left: 1.1rem;
    padding-bottom: 0.2rem;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.kenmerken {
    padding-left: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

.prijs {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

.addToCart {
	margin-left: 1.1rem;
	font-size: 10px;
	letter-spacing: 0.5px;
	font-size: 9px;
	padding: 0.6rem 2.2rem;
	text-decoration: none;
	background: rgb(63, 69, 54);
	color: rgb(218, 226, 208);
	font-family: sans-serif;
	cursor: pointer;
	text-align: center;
	border: 1px;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	line-height: 1.5em;
	transform: scale(1);
}



.clickedCart {
    animation: pulse-white 0.7s;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    -webkit-animation: pulse-white 0.7s;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(216, 230, 204, 0);
	}
}

.info {
    padding: 1.1rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    line-height: 1.5em;
}

/* radiobutton */

.light {
    padding: 2.5rem;
    padding-bottom: 0px;
    width: 240px;
}

.radioOne, .radioTwo {
    padding: 0px 0.7rem;
}

.radioOne input, .radioTwo input {
  vertical-align: middle;
}

.radioOne span, .radioTwo span {
    padding: 0px 0.2rem;
}

input[type='radio']:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(193, 198, 195);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    vertical-align: middle;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

input[type='radio']:checked:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:rgb(96, 97, 91);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    vertical-align: middle;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* editorial */

.editorialOne {
    overflow: hidden;
    width: 100vw;
    height: 80vh;
    display: grid;
    color: rgb(208, 212, 199);
    background-color: rgb(63, 69, 54);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "editorialOne-columnOne editorialOne-columnTwo";
    animation: fadein 1s linear;
    -moz-animation: fadein 1s;
    /*Firefox*/-webkit-animation: fadein 1s;
    /*SafariandChrome*/-o-animation: fadein 1s;
    /*Opera*/:;
    -webkit-animation: fadein 1s linear;
}
.editorialOne-columnOne {
    grid-area: editorialOne-columnOne;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid rgb(208, 212, 199);
    color: rgb(208, 212, 199);
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: column;

}

.editorialOne-columnOne-up {
    top: 1rem;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 1.5em
}

.editorialOne-columnOne-downOne {
    margin-top: auto;
    padding: 1.5rem;
    font-size: 12px;
    line-height: 1.5em;
}


.editorialOne-columnTwo {
    grid-area: editorialOne-columnTwo;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-top: 2.8rem;
    line-height: 1.5em;
    
}

.editorialImage {
    border: 1.5px solid rgb(208, 212, 199);
    width: 52%;
    height: 83%;
    background-image: url(editorialOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    margin: 0 auto;
}

.editorialInfo {
    padding: 2rem;
    margin: 0 auto;
    font-size: 12px;
    color: rgb(208, 212, 199);
    line-height: 1.5em;
}
/* productTwo */


.productTwo {
    display: grid;
    grid-template-columns: 1.2fr 2.8fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "columnThree columnTwo columnOne";
    width: 100vw;
    height: 80vh;
    background-color:white;
    border-bottom: 1px solid rgb(63, 69, 54);
    border-left: 1px solid rgb(63, 69, 54);
    animation: fadein 1s linear;
    -moz-animation: fadein 1s linear;
    /*Firefox*/-webkit-animation: fadein 1s linear;
    /*SafariandChrome*/-o-animation: fadein 1s linear;
    -webkit-animation: fadein 1s linear;
}

.productTwo-columnOne {
    grid-area: columnOne;
    font-weight: bold;
    border-right: 1px solid rgb(63, 69, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.productTwo-columnTwo {
    grid-area: columnTwo;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-right: 1px solid rgb(63, 69, 54);
    color: rgb(63, 69, 54);
}

.productTwo-columnThree {
    grid-area: columnThree;
    display: flex;
    padding: 1.5rem 1.1rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-right: 1px solid rgb(63, 69, 54);
    color: rgb(63, 69, 54);
    font-size: 9px;
    font-weight: 500;
    line-height: 1.5em;
}

.imageTwo {
    height: 350px;
    width: 140px;
    background-image: url(six.jpg);
    background-size: cover;
    background-position: 50%;   
}

/* andere Producten */

.andereProducten {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: rgb(63, 69, 54);
    
}

.andereProducten div {
    height: 350px;
    width: 25%;
    border-right: 1px solid rgb(63, 69, 54);
    border-top: 1px solid rgb(63, 69, 54);
    border-bottom: 1px solid rgb(63, 69, 54);
    justify-content: center;
}

#andereOne, #andereTwo, #andereThree {
    display: flex;
    flex-direction: column;

}

.center {
    margin: auto;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
}

#andereOne .center{
    background-image: url(three.jpg);
}

#andereTwo .center{
    background-image: url(four.jpg);
 }

#andereThree .center {
    background-image: url(six.jpg);
}

#also {
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

#andereOne, #andereTwo, #andereThree {
    padding: 1rem;
    letter-spacing: 0.05em;
    display: flex;
}

#andereOne p:nth-child(3) {
    padding: 1rem 0;
}

#andereTwo p:nth-child(3){
    padding: 1rem 0;
} 

#andereThree p:nth-child(3) {
    padding: 1rem 0;
}

/* about the company */

.about {
    height: 200px;
    width: 100%;
    border-left: 1px solid rgb(255, 251, 252);
    border-right: 1px solid rgb(255, 251, 252);
    border-bottom: 1px solid rgb(255, 251, 252);
}

.about p {
    padding: 2rem 1.5rem;
    font-size: 30px;
}

/* andere Producten */

.index {
    display: flex;
    flex-direction: row;
}

#index, #indexOne, #indexTwo, #indexThree {
    height: 400px;
    width: 25%;
    border-right: 1px solid rgb(63, 69, 54);
    border-bottom: 1px solid rgb(63, 69, 54);
}


/* index */

#index {
    padding: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(63, 69, 54);
    letter-spacing: 0.05em;
}

#index p {
    font-size: 20px;
    padding-bottom: 1rem;
}

#index a {
    color: rgb(63, 69, 54);
}

#indexOne ul {
    padding: 0.5rem 2rem;
    color: rgb(63, 69, 54);
}

#indexOne li {
    padding: 0.15rem 0;
    list-style-type: square;
} 

#indexOne a {
    color: rgb(63, 69, 54);
    text-decoration: none;
}

#indexOne a:hover {
    color: blue;
}


#indexOne p:nth-child(1){
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: rgb(63, 69, 54);
    padding-bottom: 2rem;
}

#indexOne p:nth-child(2){
    padding: 1rem;
    font-size: 12px;
    font-weight: 400;
    color: rgb(63, 69, 54);
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(63, 69, 54);
}

#indexOne span {
    padding: 1rem;
}

/* footer Two*/

footer {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-items: center;
    background-color:  rgb(63, 69, 54) ;
    color: rgb(208, 212, 199);
    border: 1px solid rgb(255, 251, 252);
}

#links {
    border-right: 1px solid rgb(255, 251, 252);
}

#links, #rechts {
    width: 50%;
    height: auto;
}

#newsletter {
    
    color: rgb(208, 212, 199);
    padding: 1rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#newsletter h1 {
    text-transform: uppercase;
    font-size: 18px;
    padding: 1rem 0 1rem 0;
}

#newsletter h2 {
    font-size: 16px;
    padding: 0rem 0 1rem 0;
    text-align: center;
}

#newsletter div {
   
    border-bottom: 1px solid rgb(255, 251, 252);
    display: flex;
    flex-direction: row;
    
}

#newsletter p:nth-child(1) {
    text-transform: uppercase;
    font-size: 18px;
    text-align: left;
    margin-right: 4rem;
    
}

#newsletter p:nth-child(2) {
    text-transform: uppercase;
    font-size: 18px;
    text-align: right;
    margin-left: 4rem;
    
}

#rechts {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

#rechtsBoven, #rechtsOnder {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#rechtsBoven div {
    width: 160px;
}

#rechtsBoven h1 {
    font-size: 10px;
    padding: 1rem 0 0.5rem 1rem;
}

#rechtsBoven li {
    font-size: 10px;
    padding: 0.1rem 1rem;
    text-decoration: none;
    list-style-type: none;
}

#rechtsOnder {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

#rechtsOnder p:nth-child(1) {
    text-transform: uppercase;  
    padding: 2rem;
    font-size: 10px;
}

#rechtsOnder p:nth-child(2) {
    text-transform: uppercase;   
    padding: 2rem;
    font-size: 10px;
}

#rechtsOnder a {
    color: rgb(248, 151, 95);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid rgb(255, 251, 252);
}

.container > div {
    width: 50%;
    height: 100%;
    border-right: 1px solid rgb(255, 251, 252);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3rem;
}

.container > div > div {
    height: 70%;
    width: 45%;
    vertical-align: middle;
    margin: 0 auto;
    background-position: top 35% left 50%;
    background-size: stretch;
    background-image: url(five.jpg);
    border: 1px solid rgb(255, 251, 252);
}

.container > div > h2 {
    vertical-align: center;
    margin: 0 auto;
    width: 45%;
    padding: 2rem 0;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color:  rgb(208, 212, 199);
}

#aboutExplanation {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#aboutExplanation h1 {
    justify-self: flex-start;
    padding-right: 40%;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(208, 212, 199);
}

#aboutExplanation p {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 14px;
    padding: 0.5rem 0;
    color: rgb(208, 212, 199);
}

.containerTwo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.containerTwo div {
    width: 50%;
    height: 100%;
    border-right: 1px solid rgb(255, 251, 252);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
}

.containerTwo ul p{
    font-size: 20px;
    padding: 0 0 1rem 1.5rem;
}

.containerTwo li {
    font-size: 18px;
    margin: 0 4rem;
    padding: 0.5rem;
    font-weight: 400;
    list-style-type: square;
}

/* footer One*/

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: rgb(63, 69, 54);
    border: 1px solid white;
  }

  .contain {
      padding: 1%;
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center; 
  }


  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }

/* shoppingcart begin */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: rgb(231, 226, 221);
  --mainBlack: rgb(63, 69, 54);
  --mainGrey: rgb(231, 226, 221);
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }

/* ---------------End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden; 
 
}
.cart {
   position: fixed;
   color: white;
   top: 11vh;
   right: 0;
   width: 100%;
   height: 100%;
   overflow: scroll;
   z-index: 3;
   background: rgb(63, 69, 54);
   padding: 1.5rem;
   transition: var(--mainTransition);
   transform: translateX(100%);
   -webkit-transition: var(--mainTransition);
   -moz-transition: var(--mainTransition);
   -ms-transition: var(--mainTransition);
   -o-transition: var(--mainTransition);
   -webkit-transform: translateX(100%);
   -moz-transform: translateX(100%);
   -ms-transform: translateX(100%);
   -o-transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */




  
/* media queries */

@media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }



  }


  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }

    #newsletter {
       
        padding: 0 ;
        
    }
   
    
  }


  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
    

  }

  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }


}

@media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }

   

  }

  /* cut later */

  